/* Não altere o CSS inicial */

.box {
  background-color: blue;
  padding: 10px;
}

p {
  color: yellow;
  margin: 0;
  padding: 0;
}

/* Adicione seu CSS abaixo */

/* Caixa externa */
#outer-box {
  background-color: purple;
}

/* Caixas internas */
.inner-box {
  background-color: red;
}

.white-text {
  color: white;
}
